<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="moons.js"></script>
        <script src="seedrandom.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="talkatoo.css">
    </head>
    <body>
        <div id="talkatoo">
            <div class="container settings">
                <form v-on:submit.prevent="onSubmit">
                    <h1>Talkatoo!</h1>
                    <p>Generates a list of moons to collect while playing through Super Mario Odyssey</p>
                    <div class="form-group form-row">
                        <div class="col-8">
                            <input class="form-control" id="seedInput" placeholder="Seed" v-model="seed">
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" v-on:click="randomSeed">Random seed</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="useStoryMoons" v-model="useStoryMoons">
                            <label class="form-check-label" for="useStoryMoons">
                                Include story moons
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="useSeedMoons" v-model="useSeedMoons">
                            <label class="form-check-label" for="useSeedMoons">
                                Include seed moons
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="useWarpMoons" v-model="useWarpMoons">
                            <label class="form-check-label" for="useWarpMoons">
                                Include warp painting moons
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="useHintArtMoons" v-model="useHintArtMoons">
                            <label class="form-check-label" for="useHintArtMoons">
                                Include hint art moons
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="ignoreRequirements" v-model="ignoreRequirements">
                            <label class="form-check-label" for="ignoreRequirements">
                                Ignore moon requirements
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Generate!</button>
                </form>
                <div class="mt-2" v-if="generated">
                    Share: <a :href="shareLink">{{ shareLink }}</a>
                </div>
            </div>

            <div v-if="generated">
                <div class="container kingdom" v-for="kingdom in kingdoms">
                    <h3>{{ kingdom.name }}</h3>
                    <div class="moon" v-for="moon in kingdom.moons">
                        <moon :name="moon.name" :description="moon.description"></moon>
                    </div>
                </div>
            </div>
        </div>

        <script src="talkatoo.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>